@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail";

    int totalLikes = 0;
    int totalComments = 0;
    int totalShares = 0;
}

<style>
    [class*="entypo-"]:before {
        font-family: 'entypo', sans-serif;
    }

    * {
        font-family: "Open Sans condensed";
    }

    .profile {
        height: 1200px;
        width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
        overflow-y: auto;
    }

        .profile::-webkit-scrollbar {
            width: 0.5em; /* Set a width for the scrollbar (adjust as needed) */
        }

        .profile::-webkit-scrollbar-track {
            background-color: transparent; /* Set the track background color to transparent */
        }

        .profile::-webkit-scrollbar-thumb {
            background-color: transparent; /* Set the thumb (handle) color to transparent */
        }

    .profile-banner {
        height: 15%;
        width: 100%;
        /*background-image:url('https://vapa.vn/wp-content/uploads/2022/12/anh-nen-mau-trang-001.jpg');*/
        background-size: 100%;
        border-radius: 10px;
    }

    .profile-picture {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: -90px;
        text-align: center;
    }

        .profile-picture span {
            font-size: 20pt;
        }

        .profile-picture small {
            font-size: 13pt;
            color: #cacaca;
        }

        .profile-picture img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }

    .add-frnd {
        width: 90px;
        position: absolute;
        left: -130px;
        top: 100px;
        background: #00A9FA;
        padding: 5px;
        border-radius: 10px;
        font-size: 13pt;
        text-decoration: none;
        color: #fff;
        transition: 0.5s;
    }

    .follow {
        width: 70px;
        position: absolute;
        margin-left: 180px;
        top: 100px;
        background: #00A9FA;
        padding: 5px;
        border-radius: 10px;
        font-size: 13pt;
        text-decoration: none;
        color: #fff;
        transition: 0.5s;
    }

        .follow span {
            font-size: 13pt;
        }

    .add-frnd span {
        font-size: 13pt;
    }

    .follow:hover {
        transition: 0.5s;
        background: #0079FA;
    }

    .add-frnd:hover {
        transition: 0.5s;
        background: #0079FA;
    }

    .profile-content {
        height: 60%;
        width: 100%;
    }

        .profile-content div {
            float: left;
        }

    .content-left {
        height: 300px;
        width: 25%;
        border-radius: 10px;
    }

    .content-middle {
        height: 300px;
        width: 65%;
    }

    .content-right {
        height: 300px;
        width: 10%;
    }

    .content-left ul {
        list-style: none;
        padding: 0;
        border: 1px solid #f8f8f8;
        border-radius: 10px;
    }

        .content-left ul li {
            padding: 15px;
            /* margin-top:5px; */
            border-bottom: 1px solid #f8f8f8;
        }

            .content-left ul li:hover {
                transition: 0.5s;
                background: #f8f8f8;
            }

            .content-left ul li a {
                font-size: 14pt;
                color: #cacaca;
            }

            .content-left ul li span {
                font-size: 12pt;
                margin-right: 5px;
            }

    .content-md-left {
        width: 15%;
        height: 100%;
        padding-top: 20px;
        text-align: center;
    }

        .content-md-left img {
            height: 50px;
            border-radius: 50%;
        }

    .content-md-middle {
        width: 85%;
        /*height:500px;*/
        height: auto;
        padding-top: 20px;
    }

    .post-title-name {
        height: 10%;
        width: 100%;
        line-height: 30px;
        padding-left: 10px;
    }

        .post-title-name a {
            text-decoration: none;
            color: #000;
            font-size: 14pt;
            font-weight: bold;
        }

            .post-title-name a:hover {
                transition: 0.5s;
                text-decoration: underline;
                color: #121212;
            }

    .post-title-time {
        height: 5%;
        width: 100%;
        font-size: 10pt;
        padding-left: 10px;
        transition: 0.5s;
        text-decoration: none;
    }

        .post-title-time a {
            color: #cacaca;
        }

            .post-title-time a:hover {
                transition: 0.5s;
                text-decoration: underline;
            }


    .post-desc {
        width: 100%;
        /*height:385px;*/
        height: auto;
        padding-left: 10px;
        padding-top: 10px;
        padding: 25px;
    }

        .post-desc img, .post-desc video {
            margin-top: 20px;
            border-radius: 10px;
            max-width: 100%;
            resize: vertical;
            max-height: 320px;
            object-fit: contain;
        }

        .post-desc a:hover {
            opacity: 0.8;
            transition: 0.5s;
        }

    .post-info {
        height: 10%;
        width: 100%;
        border-bottom: 1px solid #f8f8f8;
        margin-top: -10px;
    }

        .post-info ul {
            list-style: none;
            /*padding:0;*/
        }

            .post-info ul li {
                float: left;
                margin-right: 15px;
                border-right: 1px solid #f8f8f8;
            }

                .post-info ul li a {
                    font-size: 12pt;
                    text-decoration: none;
                    color: #706e6e;
                    /* border-right:1px solid #cacaca; */
                    padding-left: 10px;
                    padding-right: 10px;
                }

    .like:hover {
        transition: 0.5s;
        color: #00A9FA;
    }

    .comment:hover {
        transition: 0.5s;
        color: #121212;
    }

    .share:hover {
        transition: 0.5s;
        color: #FAB35F;
    }

    .content-right ul {
        padding: 0;
        list-style: none;
    }

        .content-right ul li {
            height: 50px;
            width: 50px;
            display: block;
            background: #f8f8f8;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            margin-top: 10px;
        }

            .content-right ul li a {
                text-decoration: none;
                color: #00A9FA;
            }

            .content-right ul li:hover {
                background: #ededed;
            }

    .post-title-icon {
        float: right;
        font-family: 'entypo', sans-serif;
        font-size: 14pt;
        color: #00A9FA;
        margin-right: 5px;
    }

    .dropdown-toggle::after {
        display: none;
    }
    .profile-feed-item {
        padding: 1.5rem 0;
        border-bottom: 1px solid #dee2e6;
    }

    .align-items-start {
        align-items: flex-start !important;
    }
</style>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="border-bottom text-center pb-4">

                        @if (!string.IsNullOrEmpty(ViewBag.User.UserImage))
                        {
                            var userIG = ViewBag.User.UserImage.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                            <img src="@userIG" alt="image" class="img-lg rounded-circle mb-3" width="90" height="90">
                        }
                        else
                        {
                            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_960_720.png">
                        }
                        <br>
                        @* <small>(Jack Daniel)</small>*@
                        <div class="mb-3">
                            <h3>@ViewBag.User.FirstName @ViewBag.User.LastName</h3>
                        </div>
                        <p class="w-75 mx-auto mb-3">@ViewBag.User.About</p>
                    </div>
                    <div class="py-4">
                        <p class="clearfix">
                            <span class="float-left">
                                Phone
                            </span>
                            <span class="float-right text-muted">
                                @ViewBag.User.Phone
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="float-left">
                                Mail
                            </span>
                            <span class="float-right text-muted">
                                @ViewBag.User.Email
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">

                    <div class="profile-feed">
                        <div class="content-middle" style="width:100%">

                            @foreach (var post in Model)
                            {
                                <div class="align-items-start profile-feed-item">
                                    <div class="content-md-left">

                                        @if (!string.IsNullOrEmpty(ViewBag.User.UserImage))
                                        {
                                            var userIG = ViewBag.User.UserImage.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                                            <img src="@userIG" alt="image">
                                        }
                                        else
                                        {
                                            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_960_720.png">
                                        }

                                    </div>
                                    <div class="dropdown">

                                    </div>
                                    <div class="content-md-middle">

                                        <div class="post-title-name">
                                            <span style="cursor:pointer" class="post-title-icon entypo-user dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item" data-IdPost="@post.Id" id="Cancel_Post">Hủy Bài Viết</span>
                                            </div>
                                            <a href="">@ViewBag.User.FirstName @ViewBag.User.LastName</a><br>
                                        </div>

                                        <div class="post-title-time">
                                            <a href="">@post.UpdatedAt.ToString("dd-MM-yyyy HH:mm")</a>
                                        </div>

                                        <div class="post-desc">
                                            @post.Post
                                            <br>
                                            @if (post.PostImg != null && post.PostImg.Length > 0)
                                            {
                                                var firstImage = post.PostImg[0]; // Get the first image
                                                var isImage = firstImage.EndsWith(".jpg") || firstImage.EndsWith(".jpeg") || firstImage.EndsWith(".png");
                                                var isVideo = firstImage.EndsWith(".mp4") || firstImage.EndsWith(".mov") || firstImage.EndsWith(".avi");

                                                <div class="post-images">
                                                    @if (isImage)
                                                    {
                                                        <a href=""><img src="@firstImage.Replace("http://10.0.2.2:3000", "http://localhost:3000")" alt="Post Image" /></a>
                                                    }
                                                    else if (isVideo)
                                                    {
                                                        <a href=""><video controls><source src="@firstImage.Replace("http://10.0.2.2:3000", "http://localhost:3000")" type="video/mp4">y</video></a>
                                                    }
                                                </div>

                                                @if (post.PostImg.Length > 1)
                                                {
                                                    <div class="remaining-images">
                                                        <a href="">+@((post.PostImg.Length - 1)) ảnh</a>
                                                    </div>
                                                }
                                            }


                                        </div>

                                        <div class="post-info">

                                            <ul>

                                                <li><a href="" class="like"><span class="entypo-thumbs-up"></span>@post.Likes.Length Like</a></li>
                                                <li><a href="" class="comment"><span class="entypo-comment"></span>@post.Comments.Length Comment</a></li>

                                            </ul>

                                        </div>

                                    </div>
                                </div>

                            }

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Cancel_Post").click(function () {
                var postId = $(this).data('idpost');
                var resultCancel = confirm('Bạn có chắc chắn muốn xóa bài viết này?');
                if (resultCancel == true) {
                    $.ajax({
                        type: 'POST',
                        url: '/User/DeletePost',
                        data: { postId: postId },
                        success: function (result) {
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert('Error: ' + error);
                        }
                    });
                }
            })
        });
    </script>
}