@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/SocialUser/Views/Shared/_LayoutUser.cshtml";

}
<div class="col-xl-8 col-xxl-9 col-lg-8">
    <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3">
        <div class="card-body p-0">
            <a href="#" class=" font-xssss fw-600 text-grey-500 card-body p-0 d-flex align-items-center"><i class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Create Post</a>
        </div>
        <div class="card-body p-0 mt-3 position-relative">
            <figure class="avatar position-absolute ms-2 mt-1 top-5"><img src="~/user/images/user-8.png" alt="image" class="shadow-sm rounded-circle w30"></figure>
            <textarea name="content" class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg" cols="30" rows="10" placeholder="What's on your mind?"></textarea>
        </div>
        <div class="card-body d-flex p-0 mt-0">
            <a href="#" class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"><i class="font-md text-success feather-image me-2"></i><span class="d-none-xs">Photo/Video</span></a>
        </div>
    </div>



    @foreach (var item in Model)
    {

        <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
            <div class="card-body p-0 d-flex">
                <a asp-area="SocialUser" asp-controller="Account" asp-action="Index" asp-route-userId="@item.UserId">
                    <figure class="avatar me-3">
                        @if (!string.IsNullOrEmpty(item.UserImg))
                        {
                            var userIG = item.UserImg.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                            <img src="@userIG" alt="image" class="shadow-sm rounded-circle w45">
                        }
                        else
                        {
                            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_960_720.png" alt="image" class="shadow-sm rounded-circle w45">
                        }

                    </figure>
                </a>
                <h4 class="fw-700 text-grey-900 font-xssss mt-1">
                    @item.UserName
                    <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                        @{
                            var dt = "";
                            DateTimeOffset postTime;

                            string dateFormat = "ddd MMM dd yyyy HH:mm:ss 'GMT'zzz";

                            int startIndex = item.PostTime.IndexOf('(');
                            if (startIndex > 0)
                            {
                                string dateTimeString = item.PostTime.Substring(0, startIndex).Trim();

                                if (DateTimeOffset.TryParseExact(dateTimeString, dateFormat, System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out postTime))
                                {
                                    TimeSpan timeDifference = DateTimeOffset.Now - postTime;
                                    if (timeDifference.TotalDays < 7)
                                    {
                                        if (timeDifference.TotalDays >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalDays} day{(timeDifference.TotalDays >= 2 ? "s" : "")} ago";
                                        }
                                        else if (timeDifference.TotalHours >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalHours} hour{(timeDifference.TotalHours >= 2 ? "s" : "")} ago";
                                        }
                                        else if (timeDifference.TotalMinutes >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalMinutes} minute{(timeDifference.TotalMinutes >= 2 ? "s" : "")} ago";
                                        }
                                        else
                                        {
                                            dt = "Just now";
                                        }
                                    }
                                    else
                                    {
                                        dt = postTime.ToString("dd/MM/yyyy, HH:mm");
                                    }
                                }
                                else
                                {
                                    <p>Invalid PostTime: @item.PostTime</p>
                                }
                            }
                            else
                            {
                                if (DateTimeOffset.TryParseExact(item.PostTime, dateFormat, System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out postTime))
                                {
                                    TimeSpan timeDifference = DateTimeOffset.Now - postTime;
                                    if (timeDifference.TotalDays < 7)
                                    {
                                        if (timeDifference.TotalDays >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalDays} day{(timeDifference.TotalDays >= 2 ? "s" : "")} ago";
                                        }
                                        else if (timeDifference.TotalHours >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalHours} hour{(timeDifference.TotalHours >= 2 ? "s" : "")} ago";
                                        }
                                        else if (timeDifference.TotalMinutes >= 1)
                                        {
                                            dt = $"{(int)timeDifference.TotalMinutes} minute{(timeDifference.TotalMinutes >= 2 ? "s" : "")} ago";
                                        }
                                        else
                                        {
                                            dt = "Just now";
                                        }
                                    }
                                    else
                                    {
                                        dt = postTime.ToString("dd/MM/yyyy, HH:mm");
                                    }
                                }
                                else
                                {
                                    <p>Invalid PostTime: @item.PostTime</p>
                                }
                            }
                        }

                        @dt

                    </span>
                </h4>
                <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
                    <div class="card-body p-0 d-flex">
                        <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
                    </div>
                    <div class="card-body p-0 d-flex mt-2">
                        <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Hide Post <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="card-body p-0 me-lg-5">
                    <a asp-area="SocialUser" asp-controller="Home" asp-action="GetPostDetail" asp-route-postId="@item.Id">
                        <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">
                            @item.Post
                        </p>
                    </a>
                </div>
                <div class="card-body d-block p-0">
                    @if (item.PostImg != null)
                    {
                        @foreach (var imageUrl in item.PostImg)
                        {
                            @if (!string.IsNullOrEmpty(imageUrl))
                            {
                                var replacedImageUrl = imageUrl.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                                <div class="row ps-2 pe-2">
                                    <div class="col-xs-12 col-sm-12 p-1">
                                        <a href="@replacedImageUrl" data-lightbox="roadtrip">
                                            <img src="@replacedImageUrl" class="rounded-3 w-100" alt="image">
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row ps-2 pe-2">
                                    <div class="col-xs-12 col-sm-12 p-1">
                                        <a href="" data-lightbox="roadtrip">
                                            <img src="https://bim.gov.vn/Upload/images/staffs/avatar-default.jpg" class="rounded-3 w-100" alt="image">
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    }


                </div>
            </div>

            <div class="card-body d-flex p-0 mt-3 justify-content-between">
                @if (item.Likes != null)
                {
                    int likeCount = item.Likes.Length;

                    @if (item.Liked)
                    {
                        <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                            <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss" data-item-id="@item.Id"></i>
                            <span class="likeCount" data-item-id="@item.Id">@likeCount Like</span>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                            <i class="feather-heart me-2 btn-round-xs font-xss" data-item-id="@item.Id"></i>
                            <span class="likeCount" data-item-id="@item.Id">@likeCount Like</span>
                        </a>
                    }

                }
                else
                {
                    <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                        <i class="feather-heart me-2 btn-round-xs font-xss" data-item-id="@item.Id"></i>
                        <span>0 Like</span>
                    </a>
                }
                @if (item.Comments != null)
                {
                    int cmtCount = item.Comments.Length;
                    <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
                        <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
                        <span>@cmtCount Comments</span>
                    </a>
                }
                else
                {
                    <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
                        <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
                        <span>0 Comment</span>
                    </a>
                }
            </div>
        </div>
    }

</div>
<div class="col-xl-4 col-xxl-3 col-lg-4 ps-lg-0">
    <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
        <div class="card-body d-flex align-items-center p-4">
            <h4 class="fw-700 mb-0 font-xssss text-grey-900">Followers</h4>
            <a href="default-member.html" class="fw-600 ms-auto font-xssss text-primary">See all</a>
        </div>
        @if (ViewBag.Follower != null)
        {
            @foreach (var item in ViewBag.Follower)
            {
                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-0">
                    <a asp-area="SocialUser" asp-controller="Account" asp-action="Index" asp-route-userId="@item._id" class="d-flex">
                        @if (!string.IsNullOrEmpty(item.userImg))
                        {
                            var replacedImageUrl = item.userImg.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                            <figure class="avatar me-3"><img src="@replacedImageUrl" alt="image" class="shadow-sm rounded-circle w45"></figure>
                        }
                        else
                        {
                            <figure class="avatar me-3"><img src="https://bim.gov.vn/Upload/images/staffs/avatar-default.jpg" alt="image" class="shadow-sm rounded-circle w45"></figure>
                        }
                    <h4 class="fw-700 text-grey-900 font-xssss mt-1"> @item.fname @item.lname</h4>
                    </a>
                 
                </div>
            }
        }
        <div class="card-body d-flex align-items-center p-4">
            <h4 class="fw-700 mb-0 font-xssss text-grey-900">Followings</h4>
            <a href="default-member.html" class="fw-600 ms-auto font-xssss text-primary">See all</a>
        </div>
        @if (ViewBag.Following != null)
        {
            @foreach (var item in ViewBag.Following)
            {
                <div class="card-body d-flex pt-0 ps-4 pe-4 pb-0">
                    <a asp-area="SocialUser" asp-controller="Account" asp-action="Index" asp-route-userId="@item._id" class="d-flex">
                        @if (!string.IsNullOrEmpty(item.userImg))
                        {
                            var replacedImageUrl = item.userImg.Replace("http://10.0.2.2:3000", "http://localhost:3000");
                            <figure class="avatar me-3"><img src="@replacedImageUrl" alt="image" class="shadow-sm rounded-circle w45"></figure>
                        }
                        else
                        {
                            <figure class="avatar me-3"><img src="https://bim.gov.vn/Upload/images/staffs/avatar-default.jpg" alt="image" class="shadow-sm rounded-circle w45"></figure>
                        }
                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">@item.fname @item.lname </h4>
                    </a>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".feather-heart").click(function (e) {
                e.preventDefault();
                var btn = $(this);
                var itemId = btn.data("item-id");
                var likeCountElem = $(".likeCount[data-item-id='" + itemId + "']");

                // Gửi yêu cầu Ajax
                $.ajax({
                    type: "post", // Hoặc POST tùy thuộc vào cách bạn cấu hình server
                    url: "/SocialUser/home/UpdatePostLikes", // Thay đổi ControllerName thành tên controller của bạn
                    data: { postId: itemId },
                    dataType: "json",
                    success: function (response) {
                        console.log(response.liked);
                        if (response.liked == true) {
                            console.log("tcvf");
                            $(".feather-heart[data-item-id='" + itemId + "']").addClass("bg-red-gradiant");
                            $(".feather-heart[data-item-id='" + itemId + "']").addClass("text-white");

                        } else if (response.liked == false) {
                            // Nếu liked là false, cập nhật trạng thái liked
                            console.log("shjs");
                            $(".feather-heart[data-item-id='" + itemId + "']").removeClass("bg-red-gradiant");
                            $(".feather-heart[data-item-id='" + itemId + "']").removeClass("text-white");
                        } else {
                            alert("Có lỗi xảy ra. Vui lòng thử lại sau.");
                        }

                        // Cập nhật số lượng like (nếu có) - Lưu ý: Nếu API không trả về số lượng like, bạn phải cập nhật số lượng like một cách riêng biệt (nếu cần thiết)
                        var currentLikeCount = parseInt(likeCountElem.text());
                        var newLikeCount = response.liked ? currentLikeCount + 1 : currentLikeCount - 1;
                        likeCountElem.text(newLikeCount + " Like");
                    },
                    error: function () {
                        alert("Có lỗi xảy ra. Vui lòng thử lại sau.");
                    }
                });
            });
        });
    </script>
}